#preparation-steps {
  list-style: none; /* we removed native numbering*/
  padding: 0;
  margin: 0;
}

.step-card {
  display: flex;
  /* align-items: flex-start; */
  gap: 1rem;
  margin-bottom: 1rem;
  background: #FFE0A2;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.step-number {
  width: 32px;
  /* height: 32px; */
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 3.5rem; 
}

.step-text {
  flex: 1;
  display: flex;
  color: #000000;
  text-align: justify;
  align-items: center;
}

#doneBtn {
  background-color: #FFC042 !important; 
  color: #000000;
}

.principal {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  #preparation-steps {
    width: 100%;
  }
}  