/* Main container */
.recipe-container {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 4rem;
  gap: 4rem;
  font-family: 'Arial', sans-serif;
}

/* Left column */
.container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-left h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  max-width: 25dvw;
}

.container-left img {
  width: 100%;             
  max-width: 350px;       
  height: auto;            
  border-radius: 12px;
  margin-bottom: 1rem;
}

.recipe-paragraph {
  width: 100%;            
  max-width: 350px;      
  text-align: justify;   
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
}

/* Button LET’S COOK */
.btn-cook {
  background: #ccc;
  border: none;
  padding: 0.9rem 1.8rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  color: #333;
  transition: 0.3s ease;
}

.btn-cook:hover{
  background-color: #f0ba4e;
  scale: 1.02;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

/* Right column */
.container-right {
    display: flex;
    flex-direction: column;
}

.container-right h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.container-right span {
  font-size: 0.9rem;
  color: #555;
  display: block;
}
.ingredients-text{
    margin-bottom: 1.2rem;
}

/* Ingredients list */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  color: #333;
}

.list li input[type="checkbox"] {
  appearance: none;         
  -webkit-appearance: none; 
  -moz-appearance: none;    
  width: 18px;
  height: 18px;
  border: 3px solid #D9D9D9;
  border-radius: 50%;       /* círculo */
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.list li input[type="checkbox"]:checked {
  background-color: #FFC042; 
  border-color: #D9D9D9;
}

label input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  text-decoration-color: #FFC042;
  text-decoration-thickness: 2px;
  color: inherit;
}

input[type="checkbox"]:checked ~ span,
label:has(input[type="checkbox"]:checked) ~ span {
  text-decoration: line-through;
  text-decoration-color: #FFC042;
  text-decoration-thickness: 3px;
  color: inherit;
}

.ingredients-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; 
}

.btn-reset {
  background: #FE6A6D;
  border: none;
  padding: 0.9rem 1.8rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  color: #333;
  transition: 0.3s ease;
}

.btn-reset:hover{
  background-color: #FE6A6D;
  scale: 1.02;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.login-alert {
  background: #FE6A6D;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
  animation: fadeIn 0.3s ease-in-out;
}

.ingredient-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 15rem; /* desktop */
}

@media (max-width: 768px) {
  .recipe-container {
    flex-direction: column;
    align-items: center;  
    /* gap: 2rem; */
    padding: 2rem 1rem;
  }

  .container-left, 
  .container-right {
    width: 100%;  
  }

  .container-left h3,
  .recipe-paragraph {
    max-width: 100%;
  }

  .container-left img {
    max-width: 100%; 
  }

  .container-right h3,
  .container-right span {
    text-align: center;
  }

  .ingredients-header {
    flex-direction: column;
    gap: 1rem;
  }

  .btn-cook,
  .btn-reset {
    width: 100%; 
    text-align: center;
  }


  .ingredient-row {
    gap: 0; 
  }

}
